[submodule "themes/hugo-theme-even"]
	path = themes/hugo-theme-even
	url = https://github.com/fliaping/hugo-theme-even.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/fliaping/hugo-PaperMod.git
